.btn-download{
  background:linear-gradient(to right,#FF7A7A,#EF8952);
  border-radius: 25px;
  font-weight: 500!important;
  
}
body{
  background-color: #F2FEFF;
}

.btn-badge{
border-radius: 25px;

}